@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.navbar-logo{
    height: 50px;
    width: 65px;
    padding: 8px;
}

#nav-item1{
    color: #323f4b;
}

#nav-item2{
    color: #323f4b;
}

#nav-item3{
    color: #323f4b;
}

.bg-container{
    background-image:url("https://d2clawv67efefq.cloudfront.net/ccbp-responsive-website/vr-banner-bg.png");
    background-size:cover;
    height:100vh;
}

.bg-container-title{
    color: #ffffff;
    font-family: "Roboto";
    font-weight: bold;
}

.button{
    background-color: #1a2137;
    height: 45px;
    width: 125px;
    border-radius: 8px;
    color: #ffffff;
    border-width: 0px;
}

.h-center{
    text-align: center;
}